body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
}
body::-webkit-scrollbar
{
  width: 14px;
}
 
body::-webkit-scrollbar-thumb
{
  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  background:  #501e27;
}

.hero-image {
    background: url(../Images/hero2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Song Myung', serif;
    margin-top: -4.3rem;
}

nav.navbar.navbar-expand-lg.navbar-light div.container-fluid ul.navbar-nav li.nav-item a.nav-link{
    color: #fff;
    padding-right: 2.7rem;
    padding-top: 1.3rem;
}

ul.navbar-nav{
  margin-right: 14rem;
}

nav{
  background-color: transparents;
}

.intro-info {
    color: white;
    font-weight: 400;
    text-align: center;
}

#greet{
    font-size: 2.75rem;
}

#name{
    font-size: 3.5rem;
}

/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .intro-info {background: red; padding-top: 7rem;}
    .responsive-image{width: 50%; height: 97%; margin-top: 0.4rem; margin-left: 5rem;}
    nav.navbar.navbar-expand-lg.navbar-light div.container-fluid ul.navbar-nav li.nav-item a.nav-link{
      color: #000;
    }
    .hero-image{margin-top: -4.3rem;}
  }

  @media only screen and (max-width: 600px) and (orientation: landscape) {
    .intro-info {background: red; padding-top: 2rem;}
    .responsive-image{width: 29%; height: 93%; margin-top: 1rem; margin-left: 11rem;}
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .intro-info {background: green; padding-top: 14rem;}
    .responsive-image{width: 47%; height: 85%; margin-top: 4.6rem; margin-left: 10rem;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .intro-info {background: blue; padding-top: 9rem;}
    .responsive-image{width: 30%; height: 92%; margin-top: 1.9rem; margin-left: 18rem;}
  } 

  @media only screen and (min-width: 768px) and (orientation: portrait) {
    .intro-info {background: blue; padding-top: 19rem;}
    .responsive-image{width: 41%; height: 93%; margin-top: 2.5rem; margin-left: 15rem;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .intro-info {background: orange; padding-top: 19rem;}
    .responsive-image{width: 70%; height: 71%; margin-top: 14.2rem; margin-left: 4rem;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .intro-info {background: pink; padding-top: 22rem;}
    .responsive-image{width: 53%; height: 77%; margin-top: 13.7rem; margin-left: 11rem;}
  }