body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.hero-image {
    background: url(../images/hero2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin-top: -4.3rem;
}

nav.navbar.navbar-expand-lg.navbar-light div.container-fluid ul.navbar-nav li.nav-item a.nav-link{
    color: #fff;
    padding-right: 2.7rem;
    padding-top: 1.3rem;
}

ul.navbar-nav{
  margin-right: 14rem;
}

nav{
  background-color: transparents;
}

.intro-info {
    color: white;
    font-weight: 400;
    text-align: center;
}

#greet{
    font-size: 2.75rem;
}

#name{
    font-size: 3.5rem;
}

/** For Mobile Menu */ 

.overlay, .i-projects{
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 1.0s;
}

.i-projects{
  height: 68.2%;
  margin-top: 16%;
  background-color: #a52a2a;
}

.overlay-content, .iproj-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.iproj-content{
  top: 5%;
}

#p-image{
  width: 100%;
}

.overlay a , .i-projects a{
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff0000;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 70px;
}

#about, #projects{
  width: 100%;
  height: 100vh;
  /** background-color: #dc143c; */
}

#projects{
    position: relative;
    
}

.about-text{
  font-weight: 400;
}

.about-text-wrapper, .project-pointer, .projects-heading{ 
  text-align: center;
  position: absolute;
  width: 50%;
  margin: auto;
  top: 80rem;
  --webkit--top: 98rem;
  right: 0;
  bottom: 0;
  left: 0;
}

#contact-info{
  background-color: #a5252a;
}

.contact-info-wrapper{
  text-align: center;
  margin-top: 6rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #fff;
}

.credit{
  text-align: center;
  margin-top: 9rem;
  font-size: 12px;
}

#emailbtn{
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.position{
  white-space: nowrap;
  display: contents;
  font-family: 'Space Mono', monospace;
}

.projects-heading{
  top: 12%;
  position: absolute;
}

.projects-heading p {
  font-size: 17px;
  margin-top: 25px;
}

#linkedinIcon{
  margin-right: 2%;
}

#githubIcon{
  margin-right: 2%;
}

#project-line1{
  margin-top: 20rem;
}

#project-line1 .project-box{
  height: 33.3vh;
}

#project-line2 .project-box{
  height: 33.3vh;
}

#b1 ,#b2, #b3, #b4, #b5, #b6{
  position: relative;
}

.project-box:hover #bg, .project-box:hover #logo {
  opacity: 0.3;
  transition: .5s ease;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
}

#bg{
  width: 104%;
  height: 33.3vh;
  filter: brightness(.4);
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  margin-left: -12px;
}

.tagHolder{
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-box:hover .tagHolder{
  opacity: 1.3;
}

.badge-secondary{
  background-color: #808080;
  color: white;
  font-size: 16px;
}

#b2 #bg{
  filter: brightness(.8);
}

#b3 #logo{
  width: 18%;
  left: 52%;
}

#project-content h1{
  font-weight: bold;
}

.i-projects .closebtn{
  padding-bottom: 0;
  padding-top: 0;
  margin-left: 45rem;
}

#footer-section{
  height: 33vh; 
  margin-top: 6rem;
}

.footer-text-wrapper{
  text-align: center;
}

#linkedinIconfooter, 
#githubIconfooter, 
#instaIconfooter,
#twitterIconfooter {
  width: 2%;
  margin-right: 2%;
}

.social-icons-footer{
  padding-left: 2%;
}


.chrome .about-text-wrapper{
  top: 98rem;
}

.chrome .project-pointer{
  top: 166rem;
}

#updateYear{
  padding-right: .1rem;
}

/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .intro-info {padding-top: 1.3rem;}
    .responsive-image{width: 50%; height: 100%; margin-left: 5rem;}
    .chrome .responsive-image{width: 60%;}
    nav.navbar.navbar-expand-lg.navbar-light div.container-fluid ul.navbar-nav li.nav-item a.nav-link{
      color: #000;
    }
    .hero-image{margin-top: 0rem;}
    #greet{font-size: 1.25rem;}
    #name{font-size: 1.8rem;}
    span{padding-right: 17rem;}
    .about-text-wrapper, .project-pointer{width: 100%; top: 36rem; font-size: 13px;}
    .safari .about-text-wrapper{top: 80rem;}
    .safari .project-pointer{top: 140rem;}
    .safari .projects-heading{margin-top: -11rem;}
    .chrome .about-text-wrapper{ top: 42rem;}
    #linkedinIcon, #githubIcon, #instaIcon, #arrowIcon {width: 8%;}
    .project-pointer{top: 59rem;}
    .chrome .project-pointer{top: 87rem;}
    .project-pointer h3{font-size: 13px;}
    #projects{ height: 100%;}
    .projects-heading{margin-top: -6rem; width: 100%;}
    .projects-heading p {margin-top: 18px; font-size: 13px;}
    #project-line1{margin-top: 10rem;}
    #bg{width: 108%;}
    .i-projects{height: 100%; margin-top: 0%;}
    #project-content{font-size: 11px;}
    #project-content h1{font-size: 21px;}
    #project-content h3{font-size: 18px;}
    .i-projects .closebtn{margin-left: 16rem;}
    #linkedinIconfooter, #githubIconfooter, #instaIconfooter,#twitterIconfooter {
      width: 9%;
      margin-right: 5%;
    }
  }

  @media only screen and (max-width: 600px) and (orientation: landscape) {
    .intro-info {padding-top: 0rem;}
    .responsive-image{width: 29%; height: 99%; margin-top: 0.1rem; margin-left: 10rem;}
    #greet{font-size: 1.1rem;}
    #name{font-size: 1.6rem;}
    span{padding-right: 27rem;}
    .about-text-wrapper, .project-pointer{width: 100%; top: 24rem; font-size: 12px;}
    .chrome .about-text-wrapper{ top: 27rem;}
    .chrome .project-pointer{top: 57rem;}
    #linkedinIcon, #githubIcon, #instaIcon, #arrowIcon {width: 5%;}
    .project-pointer{top: 39rem;}
    .projects-heading{margin-top: -4rem;}
    #logo{width: 19%;}
    #bg{width: 105.4%;}
    .chrome #bg{width: 105.2%;}
    #b3 #logo{width: 14%;}
    #b6 .tagHolder{width: 100%;}
    .i-projects .closebtn{margin-left: 26rem;}
    #linkedinIconfooter, #githubIconfooter, #instaIconfooter,#twitterIconfooter {
      width: 6%;
    }
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .intro-info {padding-top: 5rem;}
    .responsive-image{width: 51%; height: 90%; margin-top: 3.4rem; margin-left: 9rem;}
    #greet{font-size: 2.15rem; padding-top: 2rem;}
    #name{font-size: 2.6rem;}
    .hero-image{height: 108vh; margin-top: -4.1rem;}
    span{padding-right: 34rem;}
    .about-text-wrapper, .project-pointer{width: 100%; top: 66rem; font-size: 16px;}
    .chrome .about-text-wrapper{ top: 87rem;}
    .chrome .project-pointer{top: 147rem;}
    .project-pointer{top: 98.9rem;}
    .project-pointer h3{font-size: 13px;}
    #linkedinIcon, #githubIcon, #instaIcon, #arrowIcon {width: 4%;}
    #projects{ height: 100%;}
    .projects-heading{margin-top: -10rem; width: 100%;}
    #project-line1{margin-top: 15rem;}
    #bg{width: 104.3%;}
    .chrome #bg{width: 104.2%;}
    .i-projects{height: 100%; margin-top: 0%;}
    #project-content{margin-top: 15px;}
    #project-content h1{font-size: 21px;}
    #project-content h3{font-size: 18px;}
    .i-projects .closebtn{margin-left: 35rem;}
    #linkedinIconfooter, #githubIconfooter, #instaIconfooter,#twitterIconfooter {
      width: 5%;
      margin-right: 3%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .intro-info {padding-top: 5rem;}
    .responsive-image{width: 30%; height: 92%; margin-top: 1.9rem; margin-left: 18rem;}
    .hero-image{height: 111vh;}
    span{padding-right: 44rem;}
    .about-text-wrapper, .project-pointer{width: 100%; top: 47rem; font-size: 16px;}
    .project-pointer{top: 73.8rem;}
    .chrome .about-text-wrapper{ top: 57rem;}
    .chrome .project-pointer{top: 109rem;}
    #linkedinIcon, #githubIcon, #instaIcon, #arrowIcon {width: 4%;}
    #bg{width: 110.3%;}
    .chrome #bg{width: 110%;}
    #projects{ height: 100vh;}
    .projects-heading{margin-top: 1rem;}
    #project-line1{margin-top: 12.9rem;}
    #project-content h1{font-size: 21px;}
    #project-content h3{font-size: 18px;}
    .i-projects .closebtn{margin-left: 46.5rem;}
    #linkedinIconfooter, #githubIconfooter, #instaIconfooter,#twitterIconfooter {
      width: 4%;
    }
  } 

  @media only screen and (min-width: 768px) and (orientation: portrait) {
    .intro-info {padding-top: 6rem;}
    .responsive-image{width: 51%; height: 97%; margin-top: 1.2rem; margin-left: 13rem;}
    .hero-image{height: 106vh; margin-top: -3rem;}
    .about-text-wrapper, .project-pointer{width: 100%; top: 90rem; font-size: 18px;}
    .project-pointer{top: 127.6rem;}
    .chrome .about-text-wrapper{ top: 118rem;}
    .chrome .project-pointer{top: 190rem;}
    #project-line1{margin-top: 21.7rem;}
    .projects-heading{margin-top: 4rem;}
    .i-projects .closebtn{margin-left: 45.5rem;}
    .credit{margin-top: 12rem;}
    .chrome #bg{width: 110.2%;}
    .chrome #logo{width: 50%;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .intro-info {padding-top: 19rem;}
    .responsive-image{width: 70%; height: 71%; margin-top: 14.2rem; margin-left: 4rem;}
    .hero-image{height: 100vh; margin-top: -4.3rem;}
    .about-text-wrapper, .project-pointer{width: 96%; top: 64rem; font-size: 16px;}
    ul.navbar-nav{margin-right: 4rem;}
    .chrome .about-text-wrapper{
      top: 78rem;
    }
    .project-pointer{top: 94.1rem;}
    .chrome .project-pointer{top: 139rem;}
    #bg{width: 107.7%;}
    .chrome #bg{width: 107.7%;}
    #project-line1{margin-top: 16.4rem;}
    .i-projects{margin-top: 24.3%;}
    .i-projects .closebtn{margin-left: 60.5rem;}
    #linkedinIconfooter, #githubIconfooter, #instaIconfooter,#twitterIconfooter {
      width: 3%;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .responsive-image{width: 54%; height: 82%; margin-top: 10.7rem; margin-left: 11rem;}
    .chrome .responsive-image{margin-top: 10.5rem;}
    ul.navbar-nav{margin-right: 14rem;}
    .about-text-wrapper, .project-pointer{ 
      text-align: center;
      position: absolute;
      width: 50%;
      margin: auto;
      top: 80rem;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .chrome .about-text-wrapper{
      top: 98rem;
    }
    .project-pointer{ top: 114rem; }
    .chrome .project-pointer{top: 165rem;}
    #arrowIcon{width: 5%;}
    .project-pointer h3{font-size: 16px;}
    #bg{width: 104%;}
    .chrome #bg{width: 104%;}
    #project-line1{margin-top: 20rem;}
    .i-projects{height: 68.2%; margin-top: 16%;}
    .i-projects .closebtn{margin-left: 114.5rem;}
    #linkedinIconfooter, #githubIconfooter, #instaIconfooter,#twitterIconfooter {
      width: 2%;
      margin-right: 2%;
    }
  }



  /* New CSS Rules */
@media only screen and (min-width: 320px) and (max-width: 479px) and (max-height: 740px){ 
  /* .intro-info{background-color: red;} */
  .chrome .about-text-wrapper {top: 76rem;}
  .safari .about-text-wrapper {top: 67rem;}
  .chrome .project-pointer{top: 128rem;}
  .safari .project-pointer{top: 118rem;}
  .safari .projects-heading{margin-top: -9rem;}
  .projects-heading{margin-top: -10rem;}
  #bg{width: 107%;}
  .safari #bg{width: 106.5%;}
  .i-projects .closebtn{margin-left: 18rem; font-size: 36px;}
  #project-content{font-size: 14px;}
}

@media only screen and (min-width: 320px) and (max-width: 479px) and (min-height: 741px){ 
  /* .intro-info{background-color: brown;} */
  .chrome .project-pointer{top: 140rem;}
  .chrome .about-text-wrapper{top: 87rem;}
  .projects-heading{margin-top: -11rem;}
  .projects-heading p{margin-top: 25px;}
  #bg{width: 106%;}
  .safari #bg{width: 107%;}
  .i-projects .closebtn{margin-left: 19rem; font-size: 36px;}
  #project-content{font-size: 14px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
  .intro-info{background-color: green;}
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
  /* .intro-info{background-color: blue;} */
  .safari #bg{width: 109.7%;}
  .chrome .project-pointer{top: 203rem;}
  .chrome #project-line1{margin-top: 23.2rem;}
  #projects{height: 100vh;}
  .chrome .projects-heading{margin-top: 0rem;}
  .i-projects .closebtn{font-size: 61px;}
 }

@media only screen and (min-width: 992px) and (max-width: 1439px) and (max-height: 899px){ 
  /* .intro-info{background-color: yellow;} */
  .chrome .responsive-image{margin-top: 20%;}
  .chrome .about-text-wrapper{top: 80rem;}
  .chrome .project-pointer{top: 129rem;}
  #project-line1{margin-top: 15.2rem;}
  .chrome #bg{width: 105.7%;}
  .projects-heading{margin-top:0rem ;}
  .i-projects{height: 70.2%;}
 }

 @media only screen and (min-width: 1439px){ 
  /* .intro-info{background-color: purple;} */
 }

 @media only screen and (min-width: 1439px) and (max-height: 899px){ 
  /* .intro-info{background-color: black;} */
  .chrome .responsive-image{margin-top: 9rem;}
 }